{% extends 'users/base.html' %}
{% load static %}

<!-- Внешние файлы -->
{% block links %}

{% endblock %}

<!-- Содержимое -->
{% block content %}

    {{ post.date|date }} - {{ post.title }} - {{ post.likes }}
    <p>{{ post.content }}</p>

    {% if request.user.is_authenticated %}
        <!-- Отображаем кнопку лайка -->
        <form action="{% url 'like' post.id %}" method="post">
            {% csrf_token %}
           <button type="submit">Like</button>
        </form>
    {% else %}
        <p>А чтобы лайкать надо зарегаться, чудик.</p>
    {% endif %}

    <!-- Тут еще лайки ебану -->
{% endblock %}